<h1 class="text-center"><%= @posts.count %> Results </h1>

<br>

<div class="container">
  <table class="table table-bordered table-striped table-hover" style="background-color:white;">
    <thead class="thead-dark">
      <tr>
        <th><%= sort_link(@query, :title, "Title", default_order: :asc) %></th>
        <th><%= sort_link(@query, :body, "Blog Content") %></th>
        <%# Sorting by user name gives error, need to look into it %>
        <th><%= sort_link(@query, :user_name, "Users") %></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post %></td>
          <td><%= post.body.truncate_words(25) %></td>
          <td><%= link_to user_name(post), post.user %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>
