<% if current_user %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%# Logic to display name if user has set it or extract name from email if user did set it in app/helpers/application_helper %>
      <%= name(current_user) %>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <%# <li><a class="dropdown-item" href="#">Action</a></li> %>
      <li><%= link_to "Edit Acount", edit_user_registration_path, class: "dropdown-item" %></li>
      <li><hr class="dropdown-divider"></li>
      <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
    </ul>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
  </li>
<% end %>
