<% if notice %>
<p style="color: green"><%= notice %></p>
<% end %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
  <h1>All Posts</h1>
</div>

<div class="container">
  <div id="posts">

    <div class="row">
      <% @posts.each do |post| %>
          <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <%# make clickable cards to direct to show page %>
                  <h5 class="card-title"><%= link_to "#{post.title.upcase}", post_path(post) %></h5>
                  <div class="info">
                    <p class="card-text">Posted by: <%= link_to user_name(post), user_path(post.user) %> <%= time_ago_in_words(post.created_at) %> ago</p>
                    <p class="card-views">Views: <strong><%= post.views %></strong></p>
                  </div>
                  <hr>
                  <p class="card-text"> <%= "#{post.description.capitalize}" %></p>
                </div>
              </div>
          </div>
      <% end %>
    </div>

  </div>
</div>
