   <p style="color: green"><%= notice %></p>

  <h1>Posts</h1>
  <br>

  <div id="posts">

    <div class="row">
      <% @posts.each do |post| %>
          <div class="col-sm-6">
            <%= link_to post do %>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= post.title %></h5>
                  <p class="card-text">Posted by: <%= link_to user_name(post), user_path(post.user) %></p>
                  <p class="card-views">Views: <%= post.views %></p>
                  <p class="card-text"><%= post.description %></p>
                </div>
              </div>
            <% end %>
            <br>
          </div>
      <% end %>
    </div>

  </div>
