<p style="color: green"><%= notice %></p>

<div class="card text-center">

  <div class="card-header">
    <h2 class= "card-title" > <%= @post.title %> </h2>
    <%# code for user name extraction from email is in app/helpers %>
    <p class="card-text"> Written by: <%= user_name(@post) %></p>
    <p class="card-text"> Views: <%= @post.views %> </p>
  </div>

  <div class="card-body">

    <p class="card-text"> <%= @post.body %> </p>
  </div>

  <div class="btn-group">
    <%# Fix these damn buttons %>
    <%= link_to "Edit post", edit_post_path(@post), class: "btn btn-primary btn-sm" %>
    <%= link_to "Back to posts", posts_path, class: "btn btn-secondary btn-sm" %>
    <%= button_to "Delete post", @post, method: :delete, class: "btn btn-danger btn-sm" %>
  </div>

  <div class="card-footer text-muted">
    <%# add date when post created %>
    <%= @post.created_at.strftime("%d %B %Y, %l:%M%P") %>
    <%# add which user created the post %>
  </div>

</div>
