<% if notice %>
   <p style="color: green"><%= notice %></p>
<% end %>

<div class="container">

  <div class="card text-center show-card">

    <div class="show-card-header show-card-body">
      <h2 class= "card-title" > <%= @post.title.upcase %> </h2>
      <%# code for user name extraction from email is in app/helpers/application_helper %>
      <div class="author-views-text">
        <p class="card-text"> Posted by: <%= link_to user_name(@post), user_path(@post.user) %></p>
        <p class="card-text"> Views: <strong><%= @post.views %></strong> </p>
      </div>
    </div>

    <hr>

    <div class="show-card-body">

      <p class="show-card-text"> <%= @post.body.capitalize %> </p>
    </div>

    <div class="btn-group">
      <%# Fix these damn buttons %>
      <% if @post.user == current_user && user_signed_in? %>
      <%= link_to "Edit post", edit_post_path(@post), class: "btn btn-primary btn-sm mr-2" %>
      <%= link_to "Back to posts", posts_path, class: "btn btn-secondary btn-sm mr-2" %>
      <%= button_to "Delete post", @post, method: :delete, data: { turbo_confirm: "Are you sure you want to delete your post?" }, class: "btn btn-danger btn-sm" %>
      <% else %>
      <%= link_to "Back to posts", posts_path, class: "btn btn-secondary btn-sm" %>
      <% end %>
    </div>

    <div class="card-footer text-muted">
      <%# add date when post created %>
      <%= @post.created_at.strftime("%d %B %Y, %l:%M%P") %>
      <%# add which user created the post %>
    </div>

  </div>



  <div>
    <% if user_signed_in? %>
      <%= render 'comments/form', post: @post, comment: @post.comments.build, submit_label: "Reply" %>
      <h4 class="stubborn-comment-text">Comments</h4>
      <hr>
  </div>
  <% else %>

    <div class="container card ">
      <h2 class="comment-login-header">You are not signed in</h2>
      <p class="comment-login-text">Please <%= link_to "Login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to be able to comment</p>
    </div>
      <h4>Comments</h4>
      <hr>
  <% end %>


  </div>



  <% if user_signed_in? %>
  <div style="margin: 40px 190px">
    <% end %>
      <% @comments.each do |comment| %>
      <br>
    <div class="comment-body">
      <%= render 'comments/comment', post: @post, comment: comment %>
    </div>
    <% end %>
    </div>

</div>
<br>
